<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Copyright © 2026 Qiantong Technology Co., Ltd.
  qModel Model Platform(Open Source Edition)
   *
  License:
  Released under the Apache License, Version 2.0.
  You may use, modify, and distribute this software for commercial purposes
  under the terms of the License.
   *
  Special Notice:
  All derivative versions are strictly prohibited from modifying or removing
  the default system logo and copyright information.
  For brand customization, please apply for brand customization authorization via official channels.
   *
  More information: https://qmodel.qiantong.tech/business.html
   *
  ============================================================================
   *
  版权所有 © 2026 江苏千桐科技有限公司
  qModel 模型平台（开源版）
   *
  许可协议：
  本项目基于 Apache License 2.0 开源协议发布，
  允许在遵守协议的前提下进行商用、修改和分发。
   *
  特别说明：
  所有衍生版本不得修改或移除系统默认的 LOGO 和版权信息；
  如需定制品牌，请通过官方渠道申请品牌定制授权。
   *
  更多信息请访问：https://qmodel.qmodel.qiantong.tech/business.html
-->

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.qiantong.qmodel.module.model.dal.mapper.operate.ModelOperateMapper">

    <resultMap type="ModelOperateDO" id="ModelOperateResult">
        <result property="id"    column="ID"    />
        <result property="companyId"    column="COMPANY_ID"    />
        <result property="moduleName"    column="MODULE_NAME"    />
        <result property="type"    column="TYPE"    />
        <result property="content"    column="CONTENT"    />
        <result property="method"    column="METHOD"    />
        <result property="reqContent"    column="REQ_CONTENT"    />
        <result property="respContent"    column="RESP_CONTENT"    />
        <result property="ip"    column="IP"    />
        <result property="address"    column="ADDRESS"    />
        <result property="status"    column="STATUS"    />
        <result property="validFlag"    column="VALID_FLAG"    />
        <result property="delFlag"    column="DEL_FLAG"    />
        <result property="createBy"    column="CREATE_BY"    />
        <result property="creatorId"    column="CREATOR_ID"    />
        <result property="createTime"    column="CREATE_TIME"    />
        <result property="updateBy"    column="UPDATE_BY"    />
        <result property="updatorId"    column="UPDATOR_ID"    />
        <result property="updateTime"    column="UPDATE_TIME"    />
        <result property="remark"    column="REMARK"    />
    </resultMap>

    <sql id="selectModelOperateVo">
        select ID, COMPANY_ID, MODULE_NAME, TYPE, CONTENT, METHOD, REQ_CONTENT, RESP_CONTENT, IP, ADDRESS, STATUS, VALID_FLAG, DEL_FLAG, CREATE_BY, CREATOR_ID, CREATE_TIME, UPDATE_BY, UPDATOR_ID, UPDATE_TIME, REMARK from MODEL_OPERATE
    </sql>

    <select id="selectModelOperateList" parameterType="ModelOperateDO" resultMap="ModelOperateResult">
        <include refid="selectModelOperateVo"/>
        <where>
            <if test="companyId != null "> and COMPANY_ID = #{companyId}</if>
            <if test="moduleName != null  and moduleName != ''"> and MODULE_NAME like concat('%', #{moduleName}, '%')</if>
            <if test="type != null "> and TYPE = #{type}</if>
            <if test="content != null  and content != ''"> and CONTENT = #{content}</if>
            <if test="method != null  and method != ''"> and METHOD = #{method}</if>
            <if test="reqContent != null  and reqContent != ''"> and REQ_CONTENT = #{reqContent}</if>
            <if test="respContent != null  and respContent != ''"> and RESP_CONTENT = #{respContent}</if>
            <if test="ip != null  and ip != ''"> and IP = #{ip}</if>
            <if test="address != null  and address != ''"> and ADDRESS = #{address}</if>
            <if test="status != null "> and STATUS = #{status}</if>
            <if test="createTime != null "> and CREATE_TIME = #{createTime}</if>
        </where>
    </select>

    <select id="selectModelOperateByID" parameterType="Long" resultMap="ModelOperateResult">
        <include refid="selectModelOperateVo"/>
        where ID = #{id}
    </select>

    <insert id="insertModelOperate" parameterType="ModelOperateDO">
        insert into MODEL_OPERATE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">ID,</if>
            <if test="companyId != null">COMPANY_ID,</if>
            <if test="moduleName != null">MODULE_NAME,</if>
            <if test="type != null">TYPE,</if>
            <if test="content != null">CONTENT,</if>
            <if test="method != null">METHOD,</if>
            <if test="reqContent != null">REQ_CONTENT,</if>
            <if test="respContent != null">RESP_CONTENT,</if>
            <if test="ip != null">IP,</if>
            <if test="address != null">ADDRESS,</if>
            <if test="status != null">STATUS,</if>
            <if test="validFlag != null">VALID_FLAG,</if>
            <if test="delFlag != null">DEL_FLAG,</if>
            <if test="createBy != null">CREATE_BY,</if>
            <if test="creatorId != null">CREATOR_ID,</if>
            <if test="createTime != null">CREATE_TIME,</if>
            <if test="updateBy != null">UPDATE_BY,</if>
            <if test="updatorId != null">UPDATOR_ID,</if>
            <if test="updateTime != null">UPDATE_TIME,</if>
            <if test="remark != null">REMARK,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="companyId != null">#{companyId},</if>
            <if test="moduleName != null">#{moduleName},</if>
            <if test="type != null">#{type},</if>
            <if test="content != null">#{content},</if>
            <if test="method != null">#{method},</if>
            <if test="reqContent != null">#{reqContent},</if>
            <if test="respContent != null">#{respContent},</if>
            <if test="ip != null">#{ip},</if>
            <if test="address != null">#{address},</if>
            <if test="status != null">#{status},</if>
            <if test="validFlag != null">#{validFlag},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="creatorId != null">#{creatorId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updatorId != null">#{updatorId},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateModelOperate" parameterType="ModelOperateDO">
        update MODEL_OPERATE
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null">COMPANY_ID = #{companyId},</if>
            <if test="moduleName != null">MODULE_NAME = #{moduleName},</if>
            <if test="type != null">TYPE = #{type},</if>
            <if test="content != null">CONTENT = #{content},</if>
            <if test="method != null">METHOD = #{method},</if>
            <if test="reqContent != null">REQ_CONTENT = #{reqContent},</if>
            <if test="respContent != null">RESP_CONTENT = #{respContent},</if>
            <if test="ip != null">IP = #{ip},</if>
            <if test="address != null">ADDRESS = #{address},</if>
            <if test="status != null">STATUS = #{status},</if>
            <if test="validFlag != null">VALID_FLAG = #{validFlag},</if>
            <if test="delFlag != null">DEL_FLAG = #{delFlag},</if>
            <if test="createBy != null">CREATE_BY = #{createBy},</if>
            <if test="creatorId != null">CREATOR_ID = #{creatorId},</if>
            <if test="createTime != null">CREATE_TIME = #{createTime},</if>
            <if test="updateBy != null">UPDATE_BY = #{updateBy},</if>
            <if test="updatorId != null">UPDATOR_ID = #{updatorId},</if>
            <if test="updateTime != null">UPDATE_TIME = #{updateTime},</if>
            <if test="remark != null">REMARK = #{remark},</if>
        </trim>
        where ID = #{id}
    </update>

    <delete id="deleteModelOperateByID" parameterType="Long">
        delete from MODEL_OPERATE where ID = #{id}
    </delete>

    <delete id="deleteModelOperateByIDs" parameterType="String">
        delete from MODEL_OPERATE where ID in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>