<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.qiantong.qmodel.module.modelReconstitution.mapper.ModelOperateReconstitutionMapper">

    <resultMap type="ModelOperateReconstitution" id="ModelOperateResult">
        <result property="id" column="id"/>
        <result property="companyId" column="company_id"/>
        <result property="moduleName" column="module_name"/>
        <result property="type" column="type"/>
        <result property="content" column="content"/>
        <result property="method" column="method"/>
        <result property="reqContent" column="req_content"/>
        <result property="respContent" column="resp_content"/>
        <result property="ip" column="ip"/>
        <result property="address" column="address"/>
        <result property="status" column="status"/>
        <result property="validFlag" column="valid_flag"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="creatorId" column="creator_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updatorId" column="updator_id"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectModelOperateVo">
        select id,
               company_id,
               module_name,
               type,
               content,
               method,
               req_content,
               resp_content,
               ip,
               address,
               status,
               valid_flag,
               del_flag,
               create_by,
               creator_id,
               create_time,
               update_by,
               updator_id,
               update_time,
               remark
        from model_operate
    </sql>

    <select id="selectModelOperateList" parameterType="ModelOperateReconstitution" resultMap="ModelOperateResult">
        <include refid="selectModelOperateVo"/>
        <where>
            <if test="companyId != null ">and company_id = #{companyId}</if>
            <if test="moduleName != null ">and module_name like concat('%', #{moduleName}, '%')</if>
            <if test="type != null ">and type = #{type}</if>
            <if test="content != null  and content != ''">and content = #{content}</if>
            <if test="method != null  and method != ''">and method = #{method}</if>
            <if test="reqContent != null  and reqContent != ''">and req_content = #{reqContent}</if>
            <if test="respContent != null  and respContent != ''">and resp_content = #{respContent}</if>
            <if test="ip != null  and ip != ''">and ip = #{ip}</if>
            <if test="address != null  and address != ''">and address = #{address}</if>
            <if test="status != null ">and status = #{status}</if>
            <if test="validFlag != null ">and valid_flag = #{validFlag}</if>
            <if test="creatorId != null ">and creator_id = #{creatorId}</if>
            <if test="updatorId != null ">and updator_id = #{updatorId}</if>
            <if test="delFlag != null "> and del_flag = #{delFlag}</if>
        </where> order by create_time desc
    </select>

    <select id="selectModelOperateById" parameterType="Long" resultMap="ModelOperateResult">
        <include refid="selectModelOperateVo"/>
        where id = #{id}
    </select>

    <insert id="insertModelOperate" parameterType="ModelOperateReconstitution" useGeneratedKeys="true" keyProperty="id">
        insert into model_operate
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyId != null">company_id,</if>
            <if test="moduleName != null">module_name,</if>
            <if test="type != null">type,</if>
            <if test="content != null">content,</if>
            <if test="method != null">method,</if>
            <if test="reqContent != null">req_content,</if>
            <if test="respContent != null">resp_content,</if>
            <if test="ip != null">ip,</if>
            <if test="address != null">address,</if>
            <if test="status != null">status,</if>
            <if test="validFlag != null">valid_flag,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="creatorId != null">creator_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updatorId != null">updator_id,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyId != null">#{companyId},</if>
            <if test="moduleName != null">#{moduleName},</if>
            <if test="type != null">#{type},</if>
            <if test="content != null">#{content},</if>
            <if test="method != null">#{method},</if>
            <if test="reqContent != null">#{reqContent},</if>
            <if test="respContent != null">#{respContent},</if>
            <if test="ip != null">#{ip},</if>
            <if test="address != null">#{address},</if>
            <if test="status != null">#{status},</if>
            <if test="validFlag != null">#{validFlag},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="creatorId != null">#{creatorId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updatorId != null">#{updatorId},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateModelOperate" parameterType="ModelOperateReconstitution">
        update model_operate
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null">company_id = #{companyId},</if>
            <if test="moduleName != null">module_name = #{moduleName},</if>
            <if test="type != null">type = #{type},</if>
            <if test="content != null">content = #{content},</if>
            <if test="method != null">method = #{method},</if>
            <if test="reqContent != null">req_content = #{reqContent},</if>
            <if test="respContent != null">resp_content = #{respContent},</if>
            <if test="ip != null">ip = #{ip},</if>
            <if test="address != null">address = #{address},</if>
            <if test="status != null">status = #{status},</if>
            <if test="validFlag != null">valid_flag = #{validFlag},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="creatorId != null">creator_id = #{creatorId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updatorId != null">updator_id = #{updatorId},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="deleteModelOperateById" parameterType="Long">
        update model_operate
        set del_flag = 1
        where id = #{id}
    </update>

    <update id="deleteModelOperateByIds" parameterType="String">
        update model_operate set del_flag = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>
