<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Copyright © 2026 Qiantong Technology Co., Ltd.
  qModel Model Platform(Open Source Edition)
   *
  License:
  Released under the Apache License, Version 2.0.
  You may use, modify, and distribute this software for commercial purposes
  under the terms of the License.
   *
  Special Notice:
  All derivative versions are strictly prohibited from modifying or removing
  the default system logo and copyright information.
  For brand customization, please apply for brand customization authorization via official channels.
   *
  More information: https://qmodel.qiantong.tech/business.html
   *
  ============================================================================
   *
  版权所有 © 2026 江苏千桐科技有限公司
  qModel 模型平台（开源版）
   *
  许可协议：
  本项目基于 Apache License 2.0 开源协议发布，
  允许在遵守协议的前提下进行商用、修改和分发。
   *
  特别说明：
  所有衍生版本不得修改或移除系统默认的 LOGO 和版权信息；
  如需定制品牌，请通过官方渠道申请品牌定制授权。
   *
  更多信息请访问：https://qmodel.qiantong.tech/business.html
-->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.qiantong.qmodel.module.modelReconstitution.mapper.ModelOutputReconstitutionMapper">

    <resultMap type="ModelOutputReconstitution" id="ModelOutputResult">
        <result property="id"    column="id"    />
        <result property="companyId"    column="company_id"    />
        <result property="name"    column="name"    />
        <result property="engName"    column="eng_name"    />
        <result property="type"    column="type"    />
        <result property="modelId"    column="model_id"    />
        <result property="modelName"    column="model_name"    />
        <result property="modelVersion"    column="model_version"    />
        <result property="description"    column="description"    />
        <result property="singleContent"    column="single_content"    />
        <result property="multipleContent"    column="multiple_content"    />
        <result property="validFlag"    column="valid_flag"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="creatorId"    column="creator_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updatorId"    column="updator_id"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectModelOutputVo">
        select id, company_id, name, eng_name, type, model_id, model_name, model_version, description, single_content, multiple_content, valid_flag, del_flag, create_by, creator_id, create_time, update_by, updator_id, update_time, remark from model_output
    </sql>

    <select id="selectModelOutputList" parameterType="ModelOutputReconstitution" resultMap="ModelOutputResult">
        <include refid="selectModelOutputVo"/>
        <where>
            <if test="companyId != null "> and company_id = #{companyId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="engName != null  and engName != ''"> and eng_name like concat('%', #{engName}, '%')</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="modelId != null "> and model_id = #{modelId}</if>
            <if test="modelName != null  and modelName != ''"> and model_name like concat('%', #{modelName}, '%')</if>
            <if test="modelVersion != null  and modelVersion != ''"> and model_version = #{modelVersion}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="singleContent != null  and singleContent != ''"> and single_content = #{singleContent}</if>
            <if test="multipleContent != null  and multipleContent != ''"> and multiple_content = #{multipleContent}</if>
            <if test="validFlag != null "> and valid_flag = #{validFlag}</if>
            <if test="creatorId != null "> and creator_id = #{creatorId}</if>
            <if test="updatorId != null "> and updator_id = #{updatorId}</if>
            <if test="delFlag != null ">and del_flag = #{delFlag}</if>
        </where> order by create_time desc
    </select>

    <select id="selectModelOutputById" parameterType="Long" resultMap="ModelOutputResult">
        <include refid="selectModelOutputVo"/>
        where id = #{id}
    </select>

    <insert id="insertModelOutput" parameterType="ModelOutputReconstitution" useGeneratedKeys="true" keyProperty="id">
        insert into model_output
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyId != null">company_id,</if>
            <if test="name != null">name,</if>
            <if test="engName != null">eng_name,</if>
            <if test="type != null">type,</if>
            <if test="modelId != null">model_id,</if>
            <if test="modelName != null">model_name,</if>
            <if test="modelVersion != null">model_version,</if>
            <if test="description != null">description,</if>
            <if test="singleContent != null">single_content,</if>
            <if test="multipleContent != null">multiple_content,</if>
            <if test="validFlag != null">valid_flag,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="creatorId != null">creator_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updatorId != null">updator_id,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyId != null">#{companyId},</if>
            <if test="name != null">#{name},</if>
            <if test="engName != null">#{engName},</if>
            <if test="type != null">#{type},</if>
            <if test="modelId != null">#{modelId},</if>
            <if test="modelName != null">#{modelName},</if>
            <if test="modelVersion != null">#{modelVersion},</if>
            <if test="description != null">#{description},</if>
            <if test="singleContent != null">#{singleContent},</if>
            <if test="multipleContent != null">#{multipleContent},</if>
            <if test="validFlag != null">#{validFlag},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="creatorId != null">#{creatorId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updatorId != null">#{updatorId},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateModelOutput" parameterType="ModelOutputReconstitution">
        update model_output
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null">company_id = #{companyId},</if>
            <if test="name != null">name = #{name},</if>
            <if test="engName != null">eng_name = #{engName},</if>
            <if test="type != null">type = #{type},</if>
            <if test="modelId != null">model_id = #{modelId},</if>
            <if test="modelName != null">model_name = #{modelName},</if>
            <if test="modelVersion != null">model_version = #{modelVersion},</if>
            <if test="description != null">description = #{description},</if>
            <if test="singleContent != null">single_content = #{singleContent},</if>
            <if test="multipleContent != null">multiple_content = #{multipleContent},</if>
            <if test="validFlag != null">valid_flag = #{validFlag},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="creatorId != null">creator_id = #{creatorId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updatorId != null">updator_id = #{updatorId},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="deleteModelOutputById" parameterType="Long">
        update model_output set del_flag = 1 where id = #{id}
    </update>

    <update id="deleteModelOutputByIds" parameterType="String">
        update model_output set del_flag = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>
