<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Copyright © 2026 Qiantong Technology Co., Ltd.
  qModel Model Platform(Open Source Edition)
   *
  License:
  Released under the Apache License, Version 2.0.
  You may use, modify, and distribute this software for commercial purposes
  under the terms of the License.
   *
  Special Notice:
  All derivative versions are strictly prohibited from modifying or removing
  the default system logo and copyright information.
  For brand customization, please apply for brand customization authorization via official channels.
   *
  More information: https://qmodel.qiantong.tech/business.html
   *
  ============================================================================
   *
  版权所有 © 2026 江苏千桐科技有限公司
  qModel 模型平台（开源版）
   *
  许可协议：
  本项目基于 Apache License 2.0 开源协议发布，
  允许在遵守协议的前提下进行商用、修改和分发。
   *
  特别说明：
  所有衍生版本不得修改或移除系统默认的 LOGO 和版权信息；
  如需定制品牌，请通过官方渠道申请品牌定制授权。
   *
  更多信息请访问：https://qmodel.qiantong.tech/business.html
-->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.qiantong.qmodel.module.modelReconstitution.mapper.ModelReconstitutionMapper">

    <resultMap type="ModelReconstitution" id="ModelReconstitutionResult">
        <result property="id"    column="ID"    />
        <result property="companyId"    column="COMPANY_ID"    />
        <result property="name"    column="NAME"    />
        <result property="classifyId"    column="CLASSIFY_ID"    />
        <result property="builtin"    column="BUILTIN"    />
        <result property="accessMode"    column="ACCESS_MODE"    />
        <result property="requestMethod"    column="REQUEST_METHOD"    />
        <result property="interfaceorfileAddress"    column="INTERFACEORFILE_ADDRESS"    />
        <result property="versionId"    column="VERSION_ID"    />
        <result property="whetherPublish"    column="WHETHER_PUBLISH"    />
        <result property="publishTime"    column="PUBLISH_TIME"    />
        <result property="delFlag"    column="DEL_FLAG"    />
        <result property="createBy"    column="CREATE_BY"    />
        <result property="creatorId"    column="CREATOR_ID"    />
        <result property="createTime"    column="CREATE_TIME"    />
        <result property="updateBy"    column="UPDATE_BY"    />
        <result property="updatorId"    column="UPDATOR_ID"    />
        <result property="updateTime"    column="UPDATE_TIME"    />
        <result property="remark"    column="REMARK"    />
        <result property="port"    column="PORT"    />
        <result property="fileName"    column="FILENAME"    />
    </resultMap>

    <sql id="selectModelReconstitutionVo">
        select ID, COMPANY_ID, NAME, CLASSIFY_ID, BUILTIN, ACCESS_MODE, REQUEST_METHOD, INTERFACEORFILE_ADDRESS,PORT,FILENAME, VERSION_ID, WHETHER_PUBLISH, PUBLISH_TIME, DEL_FLAG, CREATE_BY, CREATOR_ID, CREATE_TIME, UPDATE_BY, UPDATOR_ID, UPDATE_TIME, REMARK from MODEL_RECONSTITUTION
    </sql>

    <select id="selectModelReconstitutionList" parameterType="ModelReconstitution" resultMap="ModelReconstitutionResult">
        <include refid="selectModelReconstitutionVo"/>
        <where>
            <if test="companyId != null "> and COMPANY_ID = #{companyId}</if>
            <if test="name != null  and name != ''"> and NAME like concat('%', #{name}, '%')</if>
            <if test="classifyId != null "> AND (CLASSIFY_ID = #{classifyId}
                OR CLASSIFY_ID IN (
                SELECT ID
                FROM MODEL_CLASSIFY
                WHERE position(#{classifyId}::text in ANCESTORS) > 0
                ))
            </if>
            <if test="builtin != null "> and BUILTIN = #{builtin}</if>
            <if test="accessMode != null "> and ACCESS_MODE = #{accessMode}</if>
            <if test="requestMethod != null "> and REQUEST_METHOD = #{requestMethod}</if>
            <if test="interfaceorfileAddress != null  and interfaceorfileAddress != ''"> and INTERFACEORFILE_ADDRESS = #{interfaceorfileAddress}</if>
            <if test="versionId != null "> and VERSION_ID = #{versionId}</if>
            <if test="whetherPublish != null "> and WHETHER_PUBLISH = #{whetherPublish}</if>
            <if test="publishTime != null "> and PUBLISH_TIME = #{publishTime}</if>
            <if test="creatorId != null "> and CREATOR_ID = #{creatorId}</if>
            <if test="updatorId != null "> and UPDATOR_ID = #{updatorId}</if>
            <if test="port != null "> and PORT = #{port}</if>
            <if test="fileName != null "> and FILENAME = #{fileName}</if>
            <if test="delFlag != null "> and DEL_FLAG = #{delFlag}</if>
            <if test="params.model != null">
                and classify_id in
                <foreach item="model" collection="params.model" open="(" separator="," close=")">
                    #{model.id}
                </foreach>
            </if>
        </where>
    </select>

    <select id="selectModelReconstitutionById" parameterType="Long" resultMap="ModelReconstitutionResult">
        <include refid="selectModelReconstitutionVo"/>
        where ID = #{id}
    </select>

    <insert id="insertModelReconstitution" parameterType="ModelReconstitution" useGeneratedKeys="true" keyProperty="id">
        insert into MODEL_RECONSTITUTION
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">ID,</if>
            <if test="companyId != null">COMPANY_ID,</if>
            <if test="name != null">NAME,</if>
            <if test="classifyId != null">CLASSIFY_ID,</if>
            <if test="builtin != null">BUILTIN,</if>
            <if test="accessMode != null">ACCESS_MODE,</if>
            <if test="requestMethod != null">REQUEST_METHOD,</if>
            <if test="interfaceorfileAddress != null">INTERFACEORFILE_ADDRESS,</if>
            <if test="port != null">PORT,</if>
            <if test="fileName != null">FILENAME,</if>
            <if test="versionId != null">VERSION_ID,</if>
            <if test="whetherPublish != null">WHETHER_PUBLISH,</if>
            <if test="publishTime != null">PUBLISH_TIME,</if>
            <if test="delFlag != null">DEL_FLAG,</if>
            <if test="createBy != null">CREATE_BY,</if>
            <if test="creatorId != null">CREATOR_ID,</if>
            <if test="createTime != null">CREATE_TIME,</if>
            <if test="updateBy != null">UPDATE_BY,</if>
            <if test="updatorId != null">UPDATOR_ID,</if>
            <if test="updateTime != null">UPDATE_TIME,</if>
            <if test="remark != null">REMARK,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="companyId != null">#{companyId},</if>
            <if test="name != null">#{name},</if>
            <if test="classifyId != null">#{classifyId},</if>
            <if test="builtin != null">#{builtin},</if>
            <if test="accessMode != null">#{accessMode},</if>
            <if test="requestMethod != null">#{requestMethod},</if>
            <if test="interfaceorfileAddress != null">#{interfaceorfileAddress},</if>
            <if test="port != null">#{port},</if>
            <if test="fileName != null">#{fileName},</if>
            <if test="versionId != null">#{versionId},</if>
            <if test="whetherPublish != null">#{whetherPublish},</if>
            <if test="publishTime != null">#{publishTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="creatorId != null">#{creatorId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updatorId != null">#{updatorId},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateModelReconstitution" parameterType="ModelReconstitution">
        update MODEL_RECONSTITUTION
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null">COMPANY_ID = #{companyId},</if>
            <if test="name != null">NAME = #{name},</if>
            <if test="classifyId != null">CLASSIFY_ID = #{classifyId},</if>
            <if test="builtin != null">BUILTIN = #{builtin},</if>
            <if test="accessMode != null">ACCESS_MODE = #{accessMode},</if>
            <if test="requestMethod != null">REQUEST_METHOD = #{requestMethod},</if>
            <if test="interfaceorfileAddress != null">INTERFACEORFILE_ADDRESS = #{interfaceorfileAddress},</if>
            <if test="port != null">PORT = #{port},</if>
            <if test="fileName != null">FILENAME = #{fileName},</if>
            <if test="versionId != null">VERSION_ID = #{versionId},</if>
            <if test="whetherPublish != null">WHETHER_PUBLISH = #{whetherPublish},</if>
            <if test="publishTime != null">PUBLISH_TIME = #{publishTime},</if>
            <if test="delFlag != null">DEL_FLAG = #{delFlag},</if>
            <if test="createBy != null">CREATE_BY = #{createBy},</if>
            <if test="creatorId != null">CREATOR_ID = #{creatorId},</if>
            <if test="createTime != null">CREATE_TIME = #{createTime},</if>
            <if test="updateBy != null">UPDATE_BY = #{updateBy},</if>
            <if test="updatorId != null">UPDATOR_ID = #{updatorId},</if>
            <if test="updateTime != null">UPDATE_TIME = #{updateTime},</if>
            <if test="remark != null">REMARK = #{remark},</if>
            <if test="params.clearVersionId != null">VERSION_ID = null</if>
        </trim>
        where ID = #{id}
    </update>

    <update id="deleteModelReconstitutionById" parameterType="Long">
        update MODEL_RECONSTITUTION set del_flag = 1 where ID = #{id}
    </update>

    <update id="deleteModelReconstitutionByIds" parameterType="String">
        update MODEL_RECONSTITUTION set del_flag = 1 where ID in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>
