<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Copyright © 2025-present Jiangsu Qiantong Technology Co., Ltd.

  This file is part of qModel Module Platform (Open Source Edition).

  qModel is licensed under Apache License 2.0 with additional qModel terms.
  You may use qModel for commercial purposes, but you may not remove, hide,
  modify, or replace the qModel logo, copyright notices, license notices,
  or attribution information without a separate commercial license.

  White-label use, OEM distribution, rebranding, or presenting qModel as
  another product requires separate commercial authorization from
  Jiangsu Qiantong Technology Co., Ltd.

  Business License: `https://qmodel.tech/`
  See the LICENSE file in the project root for full license information.
-->

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.qiantong.qmodel.module.model.mapper.ModelHistoryMapper">

    <resultMap type="ModelHistory" id="ModelHistoryResult">
        <result property="id"    column="id"    />
        <result property="companyId"    column="company_id"    />
        <result property="modelId"    column="model_id"    />
        <result property="modelName"    column="model_name"    />
        <result property="context"    column="context"    />
        <result property="startTime"    column="start_time"    />
        <result property="modelVersion"    column="model_version"    />
        <result property="validFlag"    column="valid_flag"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="creatorId"    column="creator_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updatorId"    column="updator_id"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectModelHistoryVo">
        select id, company_id, model_id, model_name, "CONTEXT", start_time, model_version, valid_flag, del_flag, create_by, creator_id, create_time, update_by, updator_id, update_time, remark from model_history
    </sql>

    <select id="selectModelHistoryList" parameterType="Long" resultMap="ModelHistoryResult">
        <include refid="selectModelHistoryVo"/>
        <where>
            <if test="modelId != null "> and model_id = #{modelId}</if>
            <if test="modelName != null  and modelName != ''"> and model_name like concat('%', #{modelName}, '%')</if>
            <if test="context != null  and context != ''"> and "CONTEXT" = #{context}</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="modelVersion != null  and modelVersion != ''"> and model_version = #{modelVersion}</if>
            <if test="validFlag != null "> and valid_flag = #{validFlag}</if>
            <if test="delFlag != null "> and del_flag = #{delFlag}</if>
            <if test="creatorId != null "> and creator_id = #{creatorId}</if>
            <if test="updatorId != null "> and updator_id = #{updatorId}</if>
        </where> order by create_time desc
    </select>

    <select id="selectModelHistoryById" parameterType="Long" resultMap="ModelHistoryResult">
        <include refid="selectModelHistoryVo"/>
        where id = #{id}
    </select>

    <select id="selectModelHistoryByModelId" parameterType="Long" resultMap="ModelHistoryResult">
        <include refid="selectModelHistoryVo"/>
        where model_id = #{modelId}
    </select>

    <insert id="insertModelHistory" parameterType="ModelHistory" useGeneratedKeys="true" keyProperty="id">
        insert into model_history
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyId != null">company_id,</if>
            <if test="modelId != null">model_id,</if>
            <if test="modelName != null">model_name,</if>
            <if test="context != null">"CONTEXT",</if>
            <if test="startTime != null">start_time,</if>
            <if test="modelVersion != null">model_version,</if>
            <if test="validFlag != null">valid_flag,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="creatorId != null">creator_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updatorId != null">updator_id,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyId != null">#{companyId},</if>
            <if test="modelId != null">#{modelId},</if>
            <if test="modelName != null">#{modelName},</if>
            <if test="context != null">#{context},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="modelVersion != null">#{modelVersion},</if>
            <if test="validFlag != null">#{validFlag},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="creatorId != null">#{creatorId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updatorId != null">#{updatorId},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateModelHistory" parameterType="ModelHistory">
        update model_history
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null">company_id = #{companyId},</if>
            <if test="modelId != null">model_id = #{modelId},</if>
            <if test="modelName != null">model_name = #{modelName},</if>
            <if test="context != null">"CONTEXT" = #{context},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="modelVersion != null">model_version = #{modelVersion},</if>
            <if test="validFlag != null">valid_flag = #{validFlag},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="creatorId != null">creator_id = #{creatorId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updatorId != null">updator_id = #{updatorId},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="deleteModelHistoryById" parameterType="Long">
        update model_history set del_flag = 1 where id = #{id}
    </update>

    <update id="deleteModelHistoryByIds" parameterType="String">
        update model_history set del_flag = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>
