<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.qiantong.qmodel.module.model.mapper.ModelClassifyMapper">

    <resultMap type="ModelClassify" id="ModelClassifyResult">
        <result property="id"    column="id"    />
        <result property="companyId"    column="company_id"    />
        <result property="parentId"    column="parent_id"    />
        <result property="ancestors"    column="ancestors"    />
        <result property="name"    column="name"    />
        <result property="description"    column="description"    />
        <result property="validFlag"    column="valid_flag"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="creatorId"    column="creator_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updatorId"    column="updator_id"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectModelClassifyVo">
        select id, company_id, parent_id, ancestors, name, description, valid_flag, del_flag, create_by, creator_id, create_time, update_by, updator_id, update_time, remark from model_classify
    </sql>

    <select id="selectModelClassifyList" parameterType="ModelClassify" resultMap="ModelClassifyResult">
        <include refid="selectModelClassifyVo"/>
        <where>
            <if test="parentId != null "> and parent_id = #{parentId}</if>
            <if test="ancestors != null  and ancestors != ''"> and ancestors = #{ancestors}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="validFlag != null "> and valid_flag = #{validFlag}</if>
            <if test="delFlag != null "> and del_flag = #{delFlag}</if>
            <if test="creatorId != null "> and creator_id = #{creatorId}</if>
            <if test="updatorId != null "> and updator_id = #{updatorId}</if>
        </where>
    </select>

    <select id="selectModelClassifyById" parameterType="Long" resultMap="ModelClassifyResult">
        <include refid="selectModelClassifyVo"/>
        where id = #{id}
    </select>

    <insert id="insertModelClassify" parameterType="ModelClassify" useGeneratedKeys="true" keyProperty="id">
        insert into model_classify
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyId != null">company_id,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="ancestors != null">ancestors,</if>
            <if test="name != null">name,</if>
            <if test="description != null">description,</if>
            <if test="validFlag != null">valid_flag,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="creatorId != null">creator_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updatorId != null">updator_id,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyId != null">#{companyId},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="ancestors != null">#{ancestors},</if>
            <if test="name != null">#{name},</if>
            <if test="description != null">#{description},</if>
            <if test="validFlag != null">#{validFlag},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="creatorId != null">#{creatorId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updatorId != null">#{updatorId},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateModelClassify" parameterType="ModelClassify">
        update model_classify
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null">company_id = #{companyId},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="ancestors != null">ancestors = #{ancestors},</if>
            <if test="name != null">name = #{name},</if>
            <if test="description != null">description = #{description},</if>
            <if test="validFlag != null">valid_flag = #{validFlag},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="creatorId != null">creator_id = #{creatorId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updatorId != null">updator_id = #{updatorId},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="deleteModelClassifyById" parameterType="Long">
        update model_classify set del_flag = 1 where id = #{id}
    </update>

    <update id="deleteModelClassifyByIds" parameterType="String">
        update model_classify set del_flag = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>
