<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Copyright © 2025-present Jiangsu Qiantong Technology Co., Ltd.

  This file is part of qModel Module Platform (Open Source Edition).

  qModel is licensed under Apache License 2.0 with additional qModel terms.
  You may use qModel for commercial purposes, but you may not remove, hide,
  modify, or replace the qModel logo, copyright notices, license notices,
  or attribution information without a separate commercial license.

  White-label use, OEM distribution, rebranding, or presenting qModel as
  another product requires separate commercial authorization from
  Jiangsu Qiantong Technology Co., Ltd.

  Business License: `https://qmodel.tech/`
  See the LICENSE file in the project root for full license information.
-->

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.qiantong.qmodel.module.model.dal.mapper.modelReconstitution.ModelReconstitutionMapper">

    <resultMap type="ModelReconstitutionDO" id="ModelReconstitutionResult">
        <result property="id"    column="ID"    />
        <result property="companyId"    column="COMPANY_ID"    />
        <result property="name"    column="NAME"    />
        <result property="classifyId"    column="CLASSIFY_ID"    />
        <result property="builtin"    column="BUILTIN"    />
        <result property="accessMode"    column="ACCESS_MODE"    />
        <result property="requestMethod"    column="REQUEST_METHOD"    />
        <result property="interfaceorfileAddress"    column="INTERFACEORFILE_ADDRESS"    />
        <result property="versionId"    column="VERSION_ID"    />
        <result property="whetherPublish"    column="WHETHER_PUBLISH"    />
        <result property="publishTime"    column="PUBLISH_TIME"    />
        <result property="delFlag"    column="DEL_FLAG"    />
        <result property="createBy"    column="CREATE_BY"    />
        <result property="creatorId"    column="CREATOR_ID"    />
        <result property="createTime"    column="CREATE_TIME"    />
        <result property="updateBy"    column="UPDATE_BY"    />
        <result property="updatorId"    column="UPDATOR_ID"    />
        <result property="updateTime"    column="UPDATE_TIME"    />
        <result property="remark"    column="REMARK"    />
        <result property="port"    column="PORT"    />
        <result property="fileName"    column="FILE_NAME"    />
        <result property="runnableFileAddress"    column="RUNNABLE_FILE_ADDRESS"    />
    </resultMap>

    <sql id="selectModelReconstitutionVo">
        select ID, COMPANY_ID, NAME, CLASSIFY_ID, BUILTIN, ACCESS_MODE, REQUEST_METHOD, INTERFACEORFILE_ADDRESS, VERSION_ID, WHETHER_PUBLISH, PUBLISH_TIME, DEL_FLAG, CREATE_BY, CREATOR_ID, CREATE_TIME, UPDATE_BY, UPDATOR_ID, UPDATE_TIME, REMARK, PORT, FILE_NAME, RUNNABLE_FILE_ADDRESS from MODEL_RECONSTITUTION
    </sql>

    <select id="selectModelReconstitutionList" parameterType="ModelReconstitutionDO" resultMap="ModelReconstitutionResult">
        <include refid="selectModelReconstitutionVo"/>
        <where>
            <if test="companyId != null "> and COMPANY_ID = #{companyId}</if>
            <if test="NAME != null  and NAME != ''"> and NAME like concat('%', #{NAME}, '%')</if>
            <if test="classifyId != null "> and CLASSIFY_ID = #{classifyId}</if>
            <if test="BUILTIN != null "> and BUILTIN = #{BUILTIN}</if>
            <if test="accessMode != null "> and ACCESS_MODE = #{accessMode}</if>
            <if test="requestMethod != null "> and REQUEST_METHOD = #{requestMethod}</if>
            <if test="interfaceorfileAddress != null  and interfaceorfileAddress != ''"> and INTERFACEORFILE_ADDRESS = #{interfaceorfileAddress}</if>
            <if test="versionId != null "> and VERSION_ID = #{versionId}</if>
            <if test="whetherPublish != null "> and WHETHER_PUBLISH = #{whetherPublish}</if>
            <if test="publishTime != null "> and PUBLISH_TIME = #{publishTime}</if>
            <if test="createTime != null "> and CREATE_TIME = #{createTime}</if>
            <if test="PORT != null  and PORT != ''"> and PORT = #{PORT}</if>
            <if test="FILE_NAME != null  and FILE_NAME != ''"> and FILE_NAME like concat('%', #{FILE_NAME}, '%')</if>
            <if test="runnableFileAddress != null  and runnableFileAddress != ''"> and RUNNABLE_FILE_ADDRESS = #{runnableFileAddress}</if>
        </where>
    </select>

    <select id="selectModelReconstitutionByID" parameterType="Long" resultMap="ModelReconstitutionResult">
        <include refid="selectModelReconstitutionVo"/>
        where ID = #{id}
    </select>

    <insert id="insertModelReconstitution" parameterType="ModelReconstitutionDO">
        insert into MODEL_RECONSTITUTION
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">ID,</if>
            <if test="companyId != null">COMPANY_ID,</if>
            <if test="name != null">NAME,</if>
            <if test="classifyId != null">CLASSIFY_ID,</if>
            <if test="builtin != null">BUILTIN,</if>
            <if test="accessMode != null">ACCESS_MODE,</if>
            <if test="requestMethod != null">REQUEST_METHOD,</if>
            <if test="interfaceorfileAddress != null">INTERFACEORFILE_ADDRESS,</if>
            <if test="versionId != null">VERSION_ID,</if>
            <if test="whetherPublish != null">WHETHER_PUBLISH,</if>
            <if test="publishTime != null">PUBLISH_TIME,</if>
            <if test="delFlag != null">DEL_FLAG,</if>
            <if test="createBy != null">CREATE_BY,</if>
            <if test="creatorId != null">CREATOR_ID,</if>
            <if test="createTime != null">CREATE_TIME,</if>
            <if test="updateBy != null">UPDATE_BY,</if>
            <if test="updatorId != null">UPDATOR_ID,</if>
            <if test="updateTime != null">UPDATE_TIME,</if>
            <if test="remark != null">REMARK,</if>
            <if test="port != null">PORT,</if>
            <if test="fileName != null">FILE_NAME,</if>
            <if test="runnableFileAddress != null">RUNNABLE_FILE_ADDRESS,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="companyId != null">#{companyId},</if>
            <if test="name != null">#{name},</if>
            <if test="classifyId != null">#{classifyId},</if>
            <if test="builtin != null">#{builtin},</if>
            <if test="accessMode != null">#{accessMode},</if>
            <if test="requestMethod != null">#{requestMethod},</if>
            <if test="interfaceorfileAddress != null">#{interfaceorfileAddress},</if>
            <if test="versionId != null">#{versionId},</if>
            <if test="whetherPublish != null">#{whetherPublish},</if>
            <if test="publishTime != null">#{publishTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="creatorId != null">#{creatorId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updatorId != null">#{updatorId},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="port != null">#{port},</if>
            <if test="fileName != null">#{fileName},</if>
            <if test="runnableFileAddress != null">#{runnableFileAddress},</if>
         </trim>
    </insert>

    <update id="updateModelReconstitution" parameterType="ModelReconstitutionDO">
        update MODEL_RECONSTITUTION
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null">COMPANY_ID = #{companyId},</if>
            <if test="name != null">NAME = #{name},</if>
            <if test="classifyId != null">CLASSIFY_ID = #{classifyId},</if>
            <if test="builtin != null">BUILTIN = #{builtin},</if>
            <if test="accessMode != null">ACCESS_MODE = #{accessMode},</if>
            <if test="requestMethod != null">REQUEST_METHOD = #{requestMethod},</if>
            <if test="interfaceorfileAddress != null">INTERFACEORFILE_ADDRESS = #{interfaceorfileAddress},</if>
            <if test="versionId != null">VERSION_ID = #{versionId},</if>
            <if test="whetherPublish != null">WHETHER_PUBLISH = #{whetherPublish},</if>
            <if test="publishTime != null">PUBLISH_TIME = #{publishTime},</if>
            <if test="delFlag != null">DEL_FLAG = #{delFlag},</if>
            <if test="createBy != null">CREATE_BY = #{createBy},</if>
            <if test="creatorId != null">CREATOR_ID = #{creatorId},</if>
            <if test="createTime != null">CREATE_TIME = #{createTime},</if>
            <if test="updateBy != null">UPDATE_BY = #{updateBy},</if>
            <if test="updatorId != null">UPDATOR_ID = #{updatorId},</if>
            <if test="updateTime != null">UPDATE_TIME = #{updateTime},</if>
            <if test="remark != null">REMARK = #{remark},</if>
            <if test="port != null">PORT = #{port},</if>
            <if test="fileName != null">FILE_NAME = #{fileName},</if>
            <if test="runnableFileAddress != null">RUNNABLE_FILE_ADDRESS = #{runnableFileAddress},</if>
            <if test="params.clearVersionId != null">VERSION_ID = null</if>
        </trim>
        where ID = #{id}
    </update>

    <delete id="deleteModelReconstitutionByID" parameterType="Long">
        delete from MODEL_RECONSTITUTION where ID = #{id}
    </delete>

    <delete id="deleteModelReconstitutionByIDs" parameterType="String">
        delete from MODEL_RECONSTITUTION where ID in
        <foreach item="ID" collection="array" open="(" separator="," close=")">
            #{ID}
        </foreach>
    </delete>
</mapper>
