<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Copyright © 2026 Qiantong Technology Co., Ltd.
  qModel Model Platform(Open Source Edition)
   *
  License:
  Released under the Apache License, Version 2.0.
  You may use, modify, and distribute this software for commercial purposes
  under the terms of the License.
   *
  Special Notice:
  All derivative versions are strictly prohibited from modifying or removing
  the default system logo and copyright information.
  For brand customization, please apply for brand customization authorization via official channels.
   *
  More information: https://qmodel.qiantong.tech/business.html
   *
  ============================================================================
   *
  版权所有 © 2026 江苏千桐科技有限公司
  qModel 模型平台（开源版）
   *
  许可协议：
  本项目基于 Apache License 2.0 开源协议发布，
  允许在遵守协议的前提下进行商用、修改和分发。
   *
  特别说明：
  所有衍生版本不得修改或移除系统默认的 LOGO 和版权信息；
  如需定制品牌，请通过官方渠道申请品牌定制授权。
   *
  更多信息请访问：https://qmodel.qiantong.tech/business.html
-->

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.qiantong.qmodel.module.model.dal.mapper.modelReconstitution.ModelReconstitutionMapper">

    <resultMap type="ModelReconstitutionDO" id="ModelReconstitutionResult">
        <result property="ID"    column="ID"    />
        <result property="companyId"    column="COMPANY_ID"    />
        <result property="NAME"    column="NAME"    />
        <result property="classifyId"    column="CLASSIFY_ID"    />
        <result property="BUILTIN"    column="BUILTIN"    />
        <result property="accessMode"    column="ACCESS_MODE"    />
        <result property="requestMethod"    column="REQUEST_METHOD"    />
        <result property="interfaceorfileAddress"    column="INTERFACEORFILE_ADDRESS"    />
        <result property="versionId"    column="VERSION_ID"    />
        <result property="whetherPublish"    column="WHETHER_PUBLISH"    />
        <result property="publishTime"    column="PUBLISH_TIME"    />
        <result property="delFlag"    column="DEL_FLAG"    />
        <result property="createBy"    column="CREATE_BY"    />
        <result property="creatorId"    column="CREATOR_ID"    />
        <result property="createTime"    column="CREATE_TIME"    />
        <result property="updateBy"    column="UPDATE_BY"    />
        <result property="updatorId"    column="UPDATOR_ID"    />
        <result property="updateTime"    column="UPDATE_TIME"    />
        <result property="REMARK"    column="REMARK"    />
        <result property="PORT"    column="PORT"    />
        <result property="FILE_NAME"    column="FILE_NAME"    />
        <result property="runnableFileAddress"    column="RUNNABLE_FILE_ADDRESS"    />
    </resultMap>

    <sql id="selectModelReconstitutionVo">
        select ID, COMPANY_ID, NAME, CLASSIFY_ID, BUILTIN, ACCESS_MODE, REQUEST_METHOD, INTERFACEORFILE_ADDRESS, VERSION_ID, WHETHER_PUBLISH, PUBLISH_TIME, DEL_FLAG, CREATE_BY, CREATOR_ID, CREATE_TIME, UPDATE_BY, UPDATOR_ID, UPDATE_TIME, REMARK, PORT, FILE_NAME, RUNNABLE_FILE_ADDRESS from MODEL_RECONSTITUTION
    </sql>

    <select id="selectModelReconstitutionList" parameterType="ModelReconstitutionDO" resultMap="ModelReconstitutionResult">
        <include refid="selectModelReconstitutionVo"/>
        <where>
            <if test="companyId != null "> and COMPANY_ID = #{companyId}</if>
            <if test="NAME != null  and NAME != ''"> and NAME like concat('%', #{NAME}, '%')</if>
            <if test="classifyId != null "> and CLASSIFY_ID = #{classifyId}</if>
            <if test="BUILTIN != null "> and BUILTIN = #{BUILTIN}</if>
            <if test="accessMode != null "> and ACCESS_MODE = #{accessMode}</if>
            <if test="requestMethod != null "> and REQUEST_METHOD = #{requestMethod}</if>
            <if test="interfaceorfileAddress != null  and interfaceorfileAddress != ''"> and INTERFACEORFILE_ADDRESS = #{interfaceorfileAddress}</if>
            <if test="versionId != null "> and VERSION_ID = #{versionId}</if>
            <if test="whetherPublish != null "> and WHETHER_PUBLISH = #{whetherPublish}</if>
            <if test="publishTime != null "> and PUBLISH_TIME = #{publishTime}</if>
            <if test="createTime != null "> and CREATE_TIME = #{createTime}</if>
            <if test="PORT != null  and PORT != ''"> and PORT = #{PORT}</if>
            <if test="FILE_NAME != null  and FILE_NAME != ''"> and FILE_NAME like concat('%', #{FILE_NAME}, '%')</if>
            <if test="runnableFileAddress != null  and runnableFileAddress != ''"> and RUNNABLE_FILE_ADDRESS = #{runnableFileAddress}</if>
        </where>
    </select>

    <select id="selectModelReconstitutionByID" parameterType="Long" resultMap="ModelReconstitutionResult">
        <include refid="selectModelReconstitutionVo"/>
        where ID = #{ID}
    </select>

    <insert id="insertModelReconstitution" parameterType="ModelReconstitutionDO">
        insert into MODEL_RECONSTITUTION
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ID != null">ID,</if>
            <if test="companyId != null">COMPANY_ID,</if>
            <if test="NAME != null">NAME,</if>
            <if test="classifyId != null">CLASSIFY_ID,</if>
            <if test="BUILTIN != null">BUILTIN,</if>
            <if test="accessMode != null">ACCESS_MODE,</if>
            <if test="requestMethod != null">REQUEST_METHOD,</if>
            <if test="interfaceorfileAddress != null">INTERFACEORFILE_ADDRESS,</if>
            <if test="versionId != null">VERSION_ID,</if>
            <if test="whetherPublish != null">WHETHER_PUBLISH,</if>
            <if test="publishTime != null">PUBLISH_TIME,</if>
            <if test="delFlag != null">DEL_FLAG,</if>
            <if test="createBy != null">CREATE_BY,</if>
            <if test="creatorId != null">CREATOR_ID,</if>
            <if test="createTime != null">CREATE_TIME,</if>
            <if test="updateBy != null">UPDATE_BY,</if>
            <if test="updatorId != null">UPDATOR_ID,</if>
            <if test="updateTime != null">UPDATE_TIME,</if>
            <if test="REMARK != null">REMARK,</if>
            <if test="PORT != null">PORT,</if>
            <if test="FILE_NAME != null">FILE_NAME,</if>
            <if test="runnableFileAddress != null">RUNNABLE_FILE_ADDRESS,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ID != null">#{ID},</if>
            <if test="companyId != null">#{companyId},</if>
            <if test="NAME != null">#{NAME},</if>
            <if test="classifyId != null">#{classifyId},</if>
            <if test="BUILTIN != null">#{BUILTIN},</if>
            <if test="accessMode != null">#{accessMode},</if>
            <if test="requestMethod != null">#{requestMethod},</if>
            <if test="interfaceorfileAddress != null">#{interfaceorfileAddress},</if>
            <if test="versionId != null">#{versionId},</if>
            <if test="whetherPublish != null">#{whetherPublish},</if>
            <if test="publishTime != null">#{publishTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="creatorId != null">#{creatorId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updatorId != null">#{updatorId},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="REMARK != null">#{REMARK},</if>
            <if test="PORT != null">#{PORT},</if>
            <if test="FILE_NAME != null">#{FILE_NAME},</if>
            <if test="runnableFileAddress != null">#{runnableFileAddress},</if>
         </trim>
    </insert>

    <update id="updateModelReconstitution" parameterType="ModelReconstitutionDO">
        update MODEL_RECONSTITUTION
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null">COMPANY_ID = #{companyId},</if>
            <if test="NAME != null">NAME = #{NAME},</if>
            <if test="classifyId != null">CLASSIFY_ID = #{classifyId},</if>
            <if test="BUILTIN != null">BUILTIN = #{BUILTIN},</if>
            <if test="accessMode != null">ACCESS_MODE = #{accessMode},</if>
            <if test="requestMethod != null">REQUEST_METHOD = #{requestMethod},</if>
            <if test="interfaceorfileAddress != null">INTERFACEORFILE_ADDRESS = #{interfaceorfileAddress},</if>
            <if test="versionId != null">VERSION_ID = #{versionId},</if>
            <if test="whetherPublish != null">WHETHER_PUBLISH = #{whetherPublish},</if>
            <if test="publishTime != null">PUBLISH_TIME = #{publishTime},</if>
            <if test="delFlag != null">DEL_FLAG = #{delFlag},</if>
            <if test="createBy != null">CREATE_BY = #{createBy},</if>
            <if test="creatorId != null">CREATOR_ID = #{creatorId},</if>
            <if test="createTime != null">CREATE_TIME = #{createTime},</if>
            <if test="updateBy != null">UPDATE_BY = #{updateBy},</if>
            <if test="updatorId != null">UPDATOR_ID = #{updatorId},</if>
            <if test="updateTime != null">UPDATE_TIME = #{updateTime},</if>
            <if test="REMARK != null">REMARK = #{REMARK},</if>
            <if test="PORT != null">PORT = #{PORT},</if>
            <if test="FILE_NAME != null">FILE_NAME = #{FILE_NAME},</if>
            <if test="runnableFileAddress != null">RUNNABLE_FILE_ADDRESS = #{runnableFileAddress},</if>
        </trim>
        where ID = #{ID}
    </update>

    <delete id="deleteModelReconstitutionByID" parameterType="Long">
        delete from MODEL_RECONSTITUTION where ID = #{ID}
    </delete>

    <delete id="deleteModelReconstitutionByIDs" parameterType="String">
        delete from MODEL_RECONSTITUTION where ID in
        <foreach item="ID" collection="array" open="(" separator="," close=")">
            #{ID}
        </foreach>
    </delete>
</mapper>
