<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Copyright © 2026 Qiantong Technology Co., Ltd.
  qModel Model Platform(Open Source Edition)
   *
  License:
  Released under the Apache License, Version 2.0.
  You may use, modify, and distribute this software for commercial purposes
  under the terms of the License.
   *
  Special Notice:
  All derivative versions are strictly prohibited from modifying or removing
  the default system logo and copyright information.
  For brand customization, please apply for brand customization authorization via official channels.
   *
  More information: https://qmodel.qiantong.tech/business.html
   *
  ============================================================================
   *
  版权所有 © 2026 江苏千桐科技有限公司
  qModel 模型平台（开源版）
   *
  许可协议：
  本项目基于 Apache License 2.0 开源协议发布，
  允许在遵守协议的前提下进行商用、修改和分发。
   *
  特别说明：
  所有衍生版本不得修改或移除系统默认的 LOGO 和版权信息；
  如需定制品牌，请通过官方渠道申请品牌定制授权。
   *
  更多信息请访问：https://qmodel.qmodel.qiantong.tech/business.html
-->

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.qiantong.qmodel.module.model.dal.mapper.version.ModelVersionMapper">

    <resultMap type="ModelVersionDO" id="ModelVersionResult">
        <result property="id"    column="ID"    />
        <result property="companyId"    column="COMPANY_ID"    />
        <result property="modelId"    column="MODEL_ID"    />
        <result property="modelName"    column="MODEL_NAME"    />
        <result property="version"    column="VERSION"    />
        <result property="fileAddress"    column="FILE_ADDRESS"    />
        <result property="interfaceAddress"    column="INTERFACE_ADDRESS"    />
        <result property="status"    column="STATUS"    />
        <result property="description"    column="DESCRIPTION"    />
        <result property="validFlag"    column="VALID_FLAG"    />
        <result property="delFlag"    column="DEL_FLAG"    />
        <result property="createBy"    column="CREATE_BY"    />
        <result property="creatorId"    column="CREATOR_ID"    />
        <result property="createTime"    column="CREATE_TIME"    />
        <result property="updateBy"    column="UPDATE_BY"    />
        <result property="updatorId"    column="UPDATOR_ID"    />
        <result property="updateTime"    column="UPDATE_TIME"    />
        <result property="remark"    column="REMARK"    />
        <result property="fileName"    column="FILENAME"    />
        <result property="runnableFileAddress"    column="RUNNABLE_FILE_ADDRESS"    />
    </resultMap>

    <sql id="selectModelVersionVo">
        select ID, COMPANY_ID, MODEL_ID, MODEL_NAME, VERSION, FILE_ADDRESS, INTERFACE_ADDRESS, STATUS, DESCRIPTION, VALID_FLAG, DEL_FLAG, CREATE_BY, CREATOR_ID, CREATE_TIME, UPDATE_BY, UPDATOR_ID, UPDATE_TIME, REMARK, FILENAME, RUNNABLE_FILE_ADDRESS from MODEL_VERSION
    </sql>

    <select id="selectModelVersionList" parameterType="ModelVersionDO" resultMap="ModelVersionResult">
        <include refid="selectModelVersionVo"/>
        <where>
            <if test="companyId != null "> and COMPANY_ID = #{companyId}</if>
            <if test="modelId != null "> and MODEL_ID = #{modelId}</if>
            <if test="modelName != null  and modelName != ''"> and MODEL_NAME like concat('%', #{modelName}, '%')</if>
            <if test="version != null  and version != ''"> and VERSION = #{version}</if>
            <if test="fileAddress != null  and fileAddress != ''"> and FILE_ADDRESS = #{fileAddress}</if>
            <if test="interfaceAddress != null  and interfaceAddress != ''"> and INTERFACE_ADDRESS = #{interfaceAddress}</if>
            <if test="status != null "> and STATUS = #{status}</if>
            <if test="description != null  and description != ''"> and DESCRIPTION = #{description}</if>
            <if test="createTime != null "> and CREATE_TIME = #{createTime}</if>
            <if test="fileName != null  and fileName != ''"> and FILENAME like concat('%', #{fileName}, '%')</if>
            <if test="runnableFileAddress != null  and runnableFileAddress != ''"> and RUNNABLE_FILE_ADDRESS = #{runnableFileAddress}</if>
        </where>
    </select>

    <select id="selectModelVersionByID" parameterType="Long" resultMap="ModelVersionResult">
        <include refid="selectModelVersionVo"/>
        where ID = #{id}
    </select>

    <insert id="insertModelVersion" parameterType="ModelVersionDO">
        insert into MODEL_VERSION
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">ID,</if>
            <if test="companyId != null">COMPANY_ID,</if>
            <if test="modelId != null">MODEL_ID,</if>
            <if test="modelName != null">MODEL_NAME,</if>
            <if test="version != null">VERSION,</if>
            <if test="fileAddress != null">FILE_ADDRESS,</if>
            <if test="interfaceAddress != null">INTERFACE_ADDRESS,</if>
            <if test="status != null">STATUS,</if>
            <if test="description != null">DESCRIPTION,</if>
            <if test="validFlag != null">VALID_FLAG,</if>
            <if test="delFlag != null">DEL_FLAG,</if>
            <if test="createBy != null">CREATE_BY,</if>
            <if test="creatorId != null">CREATOR_ID,</if>
            <if test="createTime != null">CREATE_TIME,</if>
            <if test="updateBy != null">UPDATE_BY,</if>
            <if test="updatorId != null">UPDATOR_ID,</if>
            <if test="updateTime != null">UPDATE_TIME,</if>
            <if test="remark != null">REMARK,</if>
            <if test="fileName != null">FILENAME,</if>
            <if test="runnableFileAddress != null">RUNNABLE_FILE_ADDRESS,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="companyId != null">#{companyId},</if>
            <if test="modelId != null">#{modelId},</if>
            <if test="modelName != null">#{modelName},</if>
            <if test="version != null">#{version},</if>
            <if test="fileAddress != null">#{fileAddress},</if>
            <if test="interfaceAddress != null">#{interfaceAddress},</if>
            <if test="status != null">#{status},</if>
            <if test="description != null">#{description},</if>
            <if test="validFlag != null">#{validFlag},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="creatorId != null">#{creatorId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updatorId != null">#{updatorId},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="fileName != null">#{fileName},</if>
            <if test="runnableFileAddress != null">#{runnableFileAddress},</if>
         </trim>
    </insert>

    <update id="updateModelVersion" parameterType="ModelVersionDO">
        update MODEL_VERSION
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null">COMPANY_ID = #{companyId},</if>
            <if test="modelId != null">MODEL_ID = #{modelId},</if>
            <if test="modelName != null">MODEL_NAME = #{modelName},</if>
            <if test="version != null">VERSION = #{version},</if>
            <if test="fileAddress != null">FILE_ADDRESS = #{fileAddress},</if>
            <if test="interfaceAddress != null">INTERFACE_ADDRESS = #{interfaceAddress},</if>
            <if test="status != null">STATUS = #{status},</if>
            <if test="description != null">DESCRIPTION = #{description},</if>
            <if test="validFlag != null">VALID_FLAG = #{validFlag},</if>
            <if test="delFlag != null">DEL_FLAG = #{delFlag},</if>
            <if test="createBy != null">CREATE_BY = #{createBy},</if>
            <if test="creatorId != null">CREATOR_ID = #{creatorId},</if>
            <if test="createTime != null">CREATE_TIME = #{createTime},</if>
            <if test="updateBy != null">UPDATE_BY = #{updateBy},</if>
            <if test="updatorId != null">UPDATOR_ID = #{updatorId},</if>
            <if test="updateTime != null">UPDATE_TIME = #{updateTime},</if>
            <if test="remark != null">REMARK = #{remark},</if>
            <if test="fileName != null">FILENAME = #{fileName},</if>
            <if test="runnableFileAddress != null">RUNNABLE_FILE_ADDRESS = #{runnableFileAddress},</if>
        </trim>
        where ID = #{id}
    </update>

    <delete id="deleteModelVersionByID" parameterType="Long">
        delete from MODEL_VERSION where ID = #{id}
    </delete>

    <delete id="deleteModelVersionByIDs" parameterType="String">
        delete from MODEL_VERSION where ID in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>